<%= form_with(model: pagina_tag, local: true) do |form| %>
  <% if pagina_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pagina_tag.errors.count, "error") %> prohibited this pagina_tag from being saved:</h2>

      <ul>
      <% pagina_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pagina_id %>
    <%= form.text_field :pagina_id, id: :pagina_tag_pagina_id %>
  </div>

  <div class="field">
    <%= form.label :tag_id %>
    <%= form.text_field :tag_id, id: :pagina_tag_tag_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
