<p id="notice"><%= notice %></p>

<h1>Pagina Tags</h1>

<table>
  <thead>
    <tr>
      <th>Pagina</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagina_tags.each do |pagina_tag| %>
      <tr>
        <td><%= pagina_tag.pagina %></td>
        <td><%= pagina_tag.tag %></td>
        <td><%= link_to 'Show', pagina_tag %></td>
        <td><%= link_to 'Edit', edit_pagina_tag_path(pagina_tag) %></td>
        <td><%= link_to 'Destroy', pagina_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pagina Tag', new_pagina_tag_path %>
