<p id="notice"><%= notice %></p>

<h2>Páginas</h2>
<form action="/paginas" accept-charset="UTF-8" method="get" name="form" id="form">
  <div class="input-group mb-3">

    <input type="text" value="<%= params[:term] %>" class="form-control" placeholder="Pesquisa por texto (name ou slug)" name="term" id="term"/>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
      <button class="btn btn-outline-warning" type="button" onclick="$('#term').val(''); $('#form').submit()">Limpar</button>
    </div>
  </div>
</form>
<table class="table table-default">
  <thead>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Configuração da Página</th>
    <th>Tags</th>
    <th colspan="3">Ações</th>
  </tr>
  </thead>

  <tbody>
  <% @paginas.each do |pagina| %>
    <%
      config = ConfiguracaoPagina.where(:id => pagina.configuracao_pagina_id).first
      tags = pagina.get_tags(pagina.id)
      html_tag = '<ul>'
      for tg in tags
        html_tag += '<li><a href="' + tag_path(tg.id) + '">' + 'Tag: ' + tg.name + '</a></li>'
      end
      html_tag += '</ul>'
    %>
    <tr>
      <td><%= pagina.name %></td>
      <td><%= pagina.slug %></td>
      <% if !config.blank? %>
        <td><%= link_to config.title, edit_configuracao_pagina_path(config.id), :class => 'btn-link' %></td>
      <% else %>
        <td>Nenhuma Configuração Definida</td>
      <% end %>
      <% if !tags.blank? %>
        <td>
          <%= html_tag.html_safe %>
        </td>
      <% else %>
        <td>Nenhuma Tag Definida</td>
      <% end %>
      <td><%= link_to icon('fa', 'eye', 'Ver', class: 'strong'), pagina_path(pagina.id), :class => 'btn btn-secondary' %></td>
      <td><%= link_to icon('fa', 'edit', 'Editar', class: 'strong'), edit_pagina_path(pagina), :class => "btn btn-info white" %></td>
      <td><%= link_to icon('fa', 'times', 'Remover', class: 'strong'), pagina, :class => "btn btn-danger white", method: :delete, data: {confirm: 'Você tem certeza?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div id="pagination-div" class="row crud_pagination">
  <div class="col-md-10 col-sm-6">
    <%= will_paginate @paginas, :previous_label => 'Anterior', :next_label => 'Próximo' %>
  </div>
  <div class="col-md-2 col-sm-6">
    <%= select_tag :per_page, options_for_select([5, 10, 20, 50], params[:per_page].to_i),
                   :onchange => "if(this.value){window.location='?per_page='+this.value;}", :class => 'form-control' %>
  </div>
</div>
<br>

<%= link_to 'Nova Página', new_pagina_path, :class => "btn btn-primary white" %>
