<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pagina.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @pagina.slug %>
</p>

<%= link_to 'Edit', edit_pagina_path(@pagina) %> |
<%= link_to 'Back', paginas_path %>
