<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <div class="card">
      <div class="card-header">
        <h4>Mostrando Página #<%= @pagina.id %></h4>
      </div>
      <div class="card-body">
        <p>
          <strong>Name:</strong>
          <%= @pagina.name %>
        </p>

        <p>
          <strong>Slug:</strong>
          <%= @pagina.slug %>
        </p>
        <p>
          <strong>Configuração de Página:</strong>
          <%= @configuracao_pagina.title %>
        </p>

        <%= link_to 'Editar', edit_pagina_path(@pagina), :class => 'btn btn-primary'  %> |
        <%= link_to 'Voltar', paginas_path, :class => 'btn btn-secondary'  %>
      </div>
    </div>
  </div>
</div>
