<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <div class="card">
      <div class="card-header">
        <h4>Mostrando Configuração de Página #<%= @configuracao_pagina.id %></h4>
      </div>
      <div class="card-body">
        <p>
          <strong>Title:</strong>
          <%= @configuracao_pagina.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @configuracao_pagina.description %>
        </p>

        <p>
          <strong>Keywords:</strong>
          <%= @configuracao_pagina.keywords %>
        </p>


        <%= link_to 'Editar', edit_configuracao_pagina_path(@configuracao_pagina), :class => 'btn btn-primary'  %> |
        <%= link_to 'Voltar', configuracao_paginas_path, :class => 'btn btn-secondary'  %>
      </div>
    </div>
  </div>
</div>

