<p id="notice"><%= notice %></p>

<h2>Tags</h2>
<form action="/tags" accept-charset="UTF-8" method="get" name="form" id="form">
  <div class="input-group mb-3">

    <input type="text" value="<%= params[:term] %>" class="form-control" placeholder="Pesquisa por texto (name)" name="term" id="term"/>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
      <button class="btn btn-outline-warning" type="button" onclick="$('#term').val(''); $('#form').submit()">Limpar</button>
    </div>
  </div>
</form>
<div class="table-responsive">
  <table class="table table-default">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Ações</th>
    </tr>
    </thead>

    <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to icon('fa', 'eye', 'Ver', class: 'strong'), tag_path(tag.id), :class => 'btn btn-secondary' %></td>
        <td><%= link_to icon('fa', 'edit', 'Editar', class: 'strong'), edit_tag_path(tag), :class => 'btn btn-info' %></td>
        <td><%= link_to icon('fa', 'times', 'Remover', class: 'strong'), tag, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div id="pagination-div" class="row crud_pagination">
  <div class="col-md-10 col-sm-6">
    <%= will_paginate @tags, :previous_label => 'Anterior', :next_label => 'Próximo' %>
  </div>
  <div class="col-md-2 col-sm-6">
    <%= select_tag :per_page, options_for_select([5,10,20,50], params[:per_page].to_i),
                   :onchange => "if(this.value){window.location='?per_page='+this.value;}", :class => 'form-control' %>
  </div>
</div>

<br>

<%= link_to 'Nova Tag', new_tag_path, :class => "btn btn-primary white" %>
